<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Staging -->
    <add key="PrimaryConnectionString" value="Endpoint=sb://staging-visibleservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=b9TidQs2oTFYKBHI8bsxsWGxL2CiXRBJsmwtVL30PLM=" />

    <!-- Sandbox -->
    <!--<add key="PrimaryConnectionString" value="Endpoint=sb://production-visibleservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ReDjMgmsSRb9TtwNYJ3JLZjlXomh+YS+np0P1R6a8TI="/>-->

    <add key="SecondaryConnectionString" value="" />

    <!-- Staging -->
    <add key="LoggingTopic" value="loggingevents" />
    <add key="LoggingTransferQueue" value="loggingeventstransferqueue" />

    <!-- Sandbox -->
    <!--<add key="LoggingTopic" value="loggingsandboxevents" />
    <add key="LoggingTransferQueue" value="loggingeventstransferqueue" />-->
  </appSettings>
</configuration>